<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gb.sample.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="gb.sample.model.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <select id="getUserList" resultMap="BaseResultMap">
    SELECT
      user_id,
      user_name,
      login_name,
      password
    FROM
      user
    WHERE
      delete_flag = 0
  </select>
  <select id="selectUser" resultMap="BaseResultMap">
    SELECT
      user_id,
      user_name
    FROM
      user
    WHERE
      login_name = #{request.loginName,jdbcType=VARCHAR}
      AND password = #{request.password,jdbcType=VARCHAR}
      AND delete_flag = 0
  </select>
</mapper>
